Repository OsherKoren/trip-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-agent, mypy-api, pytest-agent

mypy-agent:
  name: mypy (agent)
  entry: bash -c 'cd agent && uv run mypy src/ --explicit-package-bases'
  language: system
  pass_filenames: false

mypy-api:
  name: mypy (api)
  entry: bash -c 'cd api && uv run mypy app/ --explicit-package-bases'
  language: system
  pass_filenames: false

pytest-agent:
  name: pytest (agent)
  entry: bash -c 'cd agent && uv run pytest tests/ -v --tb=short'
  language: system
  pass_filenames: false

Add DB-backed conversation sessions to infra future tasks
  infra/TASKS.md
Due: none

Updated data files
  agent/data/annecy_geneva.txt
  agent/data/aosta_valley.txt
  agent/data/chamonix.txt
  agent/data/flight.txt
  agent/data/routes_to_aosta.txt
Due: none

Added new chat functionality
  frontend/src/App.tsx
Due: none

Added Chats button
  frontend/TASKS.md
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/Sidebar.test.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/hooks/useMessages.test.ts
  frontend/src/hooks/useMessages.ts
  frontend/src/hooks/useSessions.test.ts
  frontend/src/hooks/useSessions.ts
  frontend/src/types.ts
Due: none

Updated prompts
  agent/src/prompts.py
Due: mypy-agent, pytest-agent

Updated data files
  agent/data/annecy_geneva.txt
  agent/data/aosta_valley.txt
  agent/data/car_rental.txt
  agent/data/chamonix.txt
  agent/data/routes_to_aosta.txt
  agent/src/prompts.py
Due: mypy-agent, pytest-agent

Modified graph invocation to be async
  agent/CHANGELOG.md
  agent/TASKS.md
  agent/src/nodes/classifier.py
  agent/src/nodes/general.py
  agent/src/nodes/specialist_factory.py
  agent/tests/conftest.py
  agent/tests/integration/conftest.py
  agent/tests/integration/test_classifier_integration.py
  agent/tests/integration/test_graph_integration.py
  agent/tests/nodes/conftest.py
  agent/tests/nodes/test_classifier.py
  agent/tests/nodes/test_specialists.py
  agent/tests/test_error_handling.py
  agent/tests/test_graph.py
Due: mypy-agent, pytest-agent

Modified to stream
  agent/.claude/settings.local.json
  agent/TASKS.md
  agent/data/annecy_geneva.txt
  agent/data/aosta_valley.txt
  agent/data/chamonix.txt
  agent/handler.py
  agent/tests/test_handler.py
  api/TASKS.md
  api/app/dependencies.py
  api/app/routers/messages.py
  api/tests/conftest.py
  api/tests/test_main.py
  frontend/TASKS.md
  frontend/src/api/client.ts
  frontend/src/components/MessageBubble.tsx
  frontend/src/hooks/useMessages.test.ts
  frontend/src/hooks/useMessages.ts
  frontend/src/types.ts
Due: mypy-agent, mypy-api, pytest-agent

Fixed review comments
  .gitignore
  agent/handler.py
  agent/src/nodes/classifier.py
  agent/src/nodes/general.py
  agent/src/nodes/specialist_factory.py
  api/app/routers/messages.py
Due: mypy-agent, mypy-api, pytest-agent

Add workflow_dispatch to frontend CI
  .github/workflows/frontend-ci.yml
Due: none

Fix ESLint unused vars in useMessages test
  frontend/src/hooks/useMessages.test.ts
Due: none

Add API Gateway route for POST /api/messages/stream
  infra/modules/api-gateway/main.tf
Due: none

Add streaming fallback to non-streaming endpoint
  frontend/src/hooks/useMessages.ts
Due: none

Remove SSE streaming — use synchronous POST /api/messages only
  api/app/dependencies.py
  api/app/routers/messages.py
  api/tests/conftest.py
  api/tests/test_main.py
  frontend/src/api/client.ts
  frontend/src/hooks/useMessages.test.ts
  frontend/src/hooks/useMessages.ts
  frontend/src/types.ts
  infra/modules/api-gateway/main.tf
Due: mypy-api

Add DynamoDB question cache to reduce LLM calls and latency
  api/TASKS.md
  api/app/cache.py
  api/app/db/cache.py
  api/app/db/messages.py
  api/app/routers/messages.py
  api/app/routers/schemas.py
  api/app/settings.py
  api/tests/test_cache.py
  api/tests/test_cache_endpoint.py
  api/tests/test_cache_storage.py
  infra/TASKS.md
  infra/main.tf
  infra/modules/api-lambda/main.tf
  infra/modules/api-lambda/variables.tf
  infra/modules/cache-dynamodb/main.tf
  infra/modules/cache-dynamodb/outputs.tf
  infra/modules/cache-dynamodb/variables.tf
Due: mypy-api

Fix race condition in architecture diagram workflow
  .github/workflows/architecture-diagram.yml
Due: none

Apply review fixes: logging, type safety, input limits, ARIA, memoization
  agent/src/graph.py
  agent/src/nodes/classifier.py
  agent/src/nodes/general.py
  agent/src/nodes/specialist_factory.py
  agent/tests/integration/test_classifier_integration.py
  agent/tests/integration/test_graph_integration.py
  agent/tests/nodes/test_classifier.py
  agent/tests/nodes/test_specialists.py
  agent/tests/test_error_handling.py
  agent/tests/test_graph.py
  api/app/db/messages.py
  api/app/routers/messages.py
  api/app/routers/schemas.py
  api/tests/test_cache_endpoint.py
  api/tests/test_main.py
  frontend/src/components/Sidebar.tsx
  frontend/src/hooks/useMessages.ts
  frontend/src/test/integration/chat.integration.test.tsx
Due: mypy-agent, mypy-api, pytest-agent

Fix Sidebar test: move aria-current to outer wrapper div
  frontend/src/components/Sidebar.tsx
Due: none

Migrate stale 'New Chat' titles from localStorage on load
  frontend/src/hooks/useSessions.test.ts
  frontend/src/hooks/useSessions.ts
Due: none

Added openapi image
  api/README.md
  api/docs/images/openapi.png
Due: none

Added test events for agent
  agent/tests/events/first_question.json
  agent/tests/events/question_with_history.json
  api/app/handler.py
  pyproject.toml
  uv.lock
Due: mypy-api

Fix mypy redundant-cast in graph.py by typing workflow variable
  agent/src/graph.py
Due: mypy-agent, pytest-agent

Fix pre-push hook to resolve script path via git root
  .claude/settings.json
Due: none

Added language gaurdrails
  agent/src/graph.py
  agent/src/nodes/__init__.py
  agent/src/nodes/language_guard.py
  agent/tests/conftest.py
  agent/tests/test_graph.py
  agent/tests/test_language_guard.py
Due: mypy-agent, pytest-agent

Updated docs and refactored
  agent/CHANGELOG.md
  agent/CLAUDE.md
  agent/README.md
  agent/src/graph.py
  agent/src/nodes/language_guard.py
  agent/src/schemas.py
  agent/tests/test_language_guard.py
Due: mypy-agent, pytest-agent

Added streaming implementaion for the agent
  agent/TASKS.md
  agent/sam-app/README.md
  agent/sam-app/hello/go.mod
  agent/sam-app/hello/go.sum
  agent/sam-app/hello/main.go
  agent/sam-app/hello/main_test.go
  agent/sam-app/samconfig.toml
  agent/sam-app/template.yaml
  agent/sam.sh
  agent/samconfig.toml
  agent/src/graph.py
  agent/template.yaml
  agent/tests/test_stream_agent.py
Due: mypy-agent, pytest-agent

Implement token buffering for streaming responses
  api/TASKS.md
  api/app/dependencies.py
  api/app/logger.py
  api/app/main.py
  api/app/routers/__init__.py
  api/app/routers/stream.py
  api/template.yaml
  api/tests/integration/test_api_integration.py
  api/tests/test_stream_router.py
  frontend/TASKS.md
  infra/TASKS.md
Due: mypy-api

Refactor streaming: configurable buffer size and SSE formatting utility
  api/app/dependencies.py
  api/app/main.py
  api/app/routers/stream.py
  api/app/settings.py
Due: mypy-api

Implement Phase 19: true HTTP streaming via SSE
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/hooks/useMessages.test.ts
  frontend/src/hooks/useMessages.ts
  frontend/src/types.ts
Due: none

Apply review fixes: null guard, return type, extract SSE parser
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/hooks/useMessages.ts
Due: none

Implement Phase 23: REST API Gateway replacing HTTP API
  .github/workflows/deploy.yml
  infra/TASKS.md
  infra/main.tf
  infra/modules/api-lambda/main.tf
  infra/modules/rest-api-gateway/main.tf
  infra/modules/rest-api-gateway/outputs.tf
  infra/modules/rest-api-gateway/variables.tf
  infra/outputs.tf
Due: none

Update docs for Phase 23: REST API Gateway and SSE streaming
  CHANGELOG.md
  infra/CLAUDE.md
Due: none

Fix docs and SAM template env inconsistencies
  CHANGELOG.md
  README.md
  api/template.yaml
Due: none

Fix smoke test: replace M2M Cognito auth with real user admin auth
  .github/workflows/deploy.yml
  frontend/.claude/settings.local.json
  infra/.gitignore
  infra/modules/cognito/main.tf
  infra/modules/cognito/outputs.tf
  infra/outputs.tf
  infra/scripts/create-smoke-test-user.sh
Due: none

Fix infra CI plan: use real secrets to avoid exposing sensitive values in diffs
  .github/workflows/infra-ci.yml
Due: none

Fix architecture diagram CI: autostash unstaged changes before rebase
  .github/workflows/architecture-diagram.yml
  infra/.gitignore
Due: none

Add workflow_dispatch to deploy: enable manual trigger for both services
  .github/workflows/deploy.yml
Due: none

Fix smoke test auth: use comma-separated auth-parameters shorthand
  .github/workflows/deploy.yml
Due: none

Add CORS to REST API Gateway: OPTIONS preflight and gateway error responses
  infra/main.tf
  infra/modules/rest-api-gateway/main.tf
  infra/modules/rest-api-gateway/variables.tf
Due: none

Phase 24: Replace Mangum with AWS Lambda Web Adapter for true SSE streaming
  api/Dockerfile
  api/TASKS.md
  api/app/handler.py
  api/pyproject.toml
  api/tests/test_handler.py
  api/uv.lock
  infra/.terraform.lock.hcl
  infra/TASKS.md
  infra/main.tf
  infra/modules/api-lambda/main.tf
  infra/modules/rest-api-gateway/main.tf
Due: mypy-api

Path conditions:
  mypy-agent: any of: ^agent/.*\.py$
  mypy-api: any of: ^api/.*\.py$
  pytest-agent: any of: ^agent/.*\.py$
