Repository OsherKoren/trip-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-agent, mypy-api, pytest-agent

.pre-commit-config.yaml:

# Pre-commit config for Python microservices (agent, api)
# Does NOT run on frontend or infra folders

repos:
  # Ruff - Fast linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff
        args: [--fix]
        files: ^(agent|api)/.*\.py$
      - id: ruff-format
        files: ^(agent|api)/.*\.py$

  # MyPy - Static type checking (per-service to avoid namespace conflicts)
  - repo: local
    hooks:
      - id: mypy-agent
        name: mypy (agent)
        entry: bash -c 'cd agent && uv run mypy src/ --explicit-package-bases'
        language: system
        files: ^agent/.*\.py$
        pass_filenames: false
      - id: mypy-api
        name: mypy (api)
        entry: bash -c 'cd api && uv run mypy app/ --explicit-package-bases'
        language: system
        files: ^api/.*\.py$
        pass_filenames: false

  # Pytest - Run tests for agent service
  - repo: local
    hooks:
      - id: pytest-agent
        name: pytest (agent)
        entry: bash -c 'cd agent && uv run pytest tests/ -v --tb=short'
        language: system
        files: ^agent/.*\.py$
        pass_filenames: false

Fix LWA image tag: use latest instead of non-existent 0.8.4
  api/Dockerfile
Due: none

Fix Dockerfile: use aws-lambda-adapter:1.0.0, ECR Python mirror, port 8000
  api/Dockerfile
Due: none

Added sleep for smoke run cold start
  .github/workflows/deploy.yml
Due: none

Fix smoke test cold start and API GW redeployment trigger
  infra/modules/rest-api-gateway/main.tf
Due: none

Fixed a streaming truncation bug where multi-line SSE responses were being cut off after the first paragraph.
  api/app/routers/stream.py
  frontend/src/api/client.ts
Due: mypy-api

Fix health endpoint 502 by returning StreamingResponse
  api/app/routers/health.py
Due: mypy-api

Phase 25: Pattern B — bundle agent into API Lambda (single Lambda + LWA)
  .github/workflows/deploy.yml
  agent/Dockerfile
  agent/TASKS.md
  api/Dockerfile
  api/TASKS.md
  api/app/dependencies.py
  api/app/main.py
  api/app/settings.py
  infra/TASKS.md
  infra/main.tf
  infra/modules/api-lambda/main.tf
  infra/modules/api-lambda/variables.tf
Due: mypy-api

Mark Phase 25 tasks complete in all three TASKS.md files
  agent/TASKS.md
  api/TASKS.md
  infra/TASKS.md
Due: none

Install agent deps from pyproject.toml instead of hardcoded list
  api/Dockerfile
Due: none

Fix health 502: use text/event-stream for LWA binary streaming path
  api/app/routers/health.py
Due: mypy-api

Update api CHANGELOG: document health 502 fix
  api/CHANGELOG.md
Due: none

Fix health 502: use streaming invocations for health API GW integration
  api/app/routers/health.py
  infra/modules/rest-api-gateway/main.tf
Due: mypy-api

Fix streaming endpoint missing DynamoDB cache write
  api/app/routers/stream.py
  api/tests/test_stream_router.py
Due: mypy-api

Update trip data from France_alps_v4 plan revision
  agent/data/annecy_geneva.txt
  agent/data/aosta_valley.txt
  agent/data/chamonix.txt
  agent/data/routes_to_aosta.txt
Due: none

Fix stale Chamonix date range in classifier prompt
  agent/src/nodes/classifier.py
Due: mypy-agent, pytest-agent

Add Chamonix relative day labels for agent retrieval
  agent/data/chamonix.txt
Due: none

Add relative day labels to Aosta and Annecy data files
  agent/data/annecy_geneva.txt
  agent/data/aosta_valley.txt
Due: none

Fix stale trip timeline in specialist prompt
  agent/src/prompts.py
Due: mypy-agent, pytest-agent

Fix deploy.yml: trigger API Lambda rebuild on agent/data and agent/src changes
  .github/workflows/deploy.yml
Due: none

Removed redundant
  agent/data/files/car_rental_voucher.pdf
Due: none

Update trip data from France_alps_v5 plan revision
  agent/data/aosta_valley.txt
  agent/data/chamonix.txt
  agent/data/routes_to_aosta.txt
Due: none

Add date-based routing guidance to classifier prompt
  agent/src/nodes/classifier.py
Due: mypy-agent, pytest-agent
